.heading_1{
    font-size: xx-large;
    color: rgb(255, 160, 0);
}
.heading_2{
    font-size: xx-large;
    color: rgb(226, 50, 94);
}
.heading_3{
    font-size: xx-large;
    color: rgb(118, 74, 17);
}
h1{
    text-align: center;
}
.Body_Style_1{
    background-color:teal;
    font-size: large;
    padding-left: 20px;
    padding-right: 10px;
}
.Body_Style_2{
    background-color:rgb(38, 178, 49);
    font-size: large;
    padding-left: 20px;
    padding-right: 10px;
}
a{
    color: rgb(15, 15, 192);
}
.Hummingbird{
    height: 280px;
    width: 400px;
    border-radius: 9%;;
}
.container{
display: flex;
align-items: flex-start;
}